# BinaryModel Insights Report
## Dataset
This model has a dataset with __{{ '{:,d}'.format(insights.n_train_positive + insights.n_test_positive) }}__ positive samples and __{{ '{:,d}'.format(insights.n_train_negative + insights.n_test_negative) }}__ negative samples, totaling __{{ '{:,d}'.format(insights.n_train + insights.n_test) }}__ samples.
There are __{{ '{:,d}'.format(insights.n_features) }}__ features. Hold-out test set is __{{ '{:.2%}'.format(insights.test_ratio)}}__ of the dataset.

{%- if insights.estimator_pipeline_diagram_html%}
## Estimator
{{ insights.estimator_pipeline_diagram_html }}
{%- endif %}

{%- if insights.postprocessor_pipeline_diagram_html%}
## Postprocessor
{{ insights.postprocessor_pipeline_diagram_html }}
{%- endif %}

## Features
### Importances
| Feature                              | Relative Importance|
|:-------------------------------------|:-----------:
{%- for feature, importance in insights.avg_feature_importances.round(2).head(12).iteritems() %}
    {%- if importance > 0 %}
     | {{ feature }} | {{ '{:.2f}'.format(importance) }} |
    {%- endif %}
{%- endfor %}

### Importance Plots
![Importance Plots][importances]

### ROC Curves
![ROC Curves][roccurve]

### Lift Chart
![Lift Chart][lift]

## Scoring Metrics By Threshold
Calculates various metrics for a range of probability thresholds. The for each threshold, observations with predicted
probability above this threshold will be classified as positive, while predicted probabilities below the threshold will
be predicted negative. This uses the model's _predict_proba_ method and does __NOT__ use the _postprocessor_.


![Metric By Threshold][score_thresh]

### Calibration Curve (Before Postprocessing)
![Calibration Curve][calibration]

### Output Distribution (After Postprocessing)
![Output Distribution][outdist]


[model_pipeline_diag]: html/model_pipeline_diagram.html
[lift]: imgs/lift.svg
[roccurve]: imgs/roc.svg
[score_thresh]: imgs/score_thresh.svg
[calibration]: imgs/calibration.svg
[outdist]: imgs/outdist.svg
[importances]: imgs/importances.svg